<p id='notice'><%= notice %></p>
</br>
<% if current_user %>
  <p>Welcome <%= current_user.username %></p>
  <a href='/posts/new' name='new_post'>New Post</a>
  <a href='/logout' name='log-out'>Log-Out</a>
<% else %>
  <p>Welcome to Chitter</p>
  <a href='/signup' name='sign-up'>Sign-up</a>
  <a href='/login' name='log-in'>Log-In</a>
<% end %>
<p id='notice'><%= notice %></p>
</br>
<div class="container text-center">
  <% @posts.each do |post| %>
    <p><%= post.body %><p>
    <p>Posted at:<%= post.created_at %>
    <p>User: <%=username_of_poster(post)%>
  <% end %>
</div>
